/* fonts */
/* montserrat */
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,900');

html {
    height: 100%;
}
body {
    height: 100%;
    width: 100%;
    font-family: 'Montserrat', sans-serif !important;
    /* background: url('../assets/images/pexels-photo-911738.jpeg');
    background-size: cover; */
}
p {
    color:rgba(0, 0, 0, .5);
}

textarea {
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.1);
    padding: 20px;
}
input {
    padding: 5px 0px 5px 20px;
    width: 100%;
    margin: 10px 0 !important;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.1);
}

.createNote {
    color: rgba(0,0,0,0.5);
}

.createNote:hover {
    color: #FFF ;
}

#results {
    margin-top: 100px;
}

.note-header {
    align-items: center;
    display: flex;
}
#empty-notes {
    margin-top: 100px;
}

.submit {
    background-color: #FFF;
    color: rgba(0,0,0,0.5);
}
.submit:hover {
    background-color:#2ecc71;
    color: #FFF !important;
}

.cancelNote {
    width: 100%;
    background-color: #FFF;
    color: rgba(0,0,0,0.5);
}

.cancelNote:hover {
    background-color: #cf372f;
    color: #FFF !important;
}

.delete-note {
    width: auto;
    height: 17px;
    /* margin-left: auto; */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
}

.edit-note {
    width: auto;
    height: 17px;
    margin-left: auto;
    opacity: 0;
    /* visibility: hidden; */
    padding-right: 10px;
    transition: opacity 0.5s, visibility 0.5s;
}

.edit-note:hover {
    opacity: 1 !important;
}

.delete-note:hover {
    opacity: 1 !important;
}

.note-wrapper {
    padding-top: 20px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0px 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.15);
    transition: 0.5s ease all;
    cursor: pointer;
}

.note-wrapper:hover .delete-note, .note-wrapper:hover .edit-note {
    visibility: visible;
    opacity: 0.2;
}

.note-wrapper:hover {
    /* transform:translateY(-5px); */
    -webkit-box-shadow: 0 0px 15px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0px 15px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.15);
}

.note-text {
    display: none;
    padding: 25px;
}

a:hover {
    /* color: black !important; */
}

button:hover {
    cursor: pointer;
}

.btn {
    position: relative;
  
    display: block;
    margin: 10px auto;
    padding: .5rem 1rem !important;
  
    overflow: hidden;
  
    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
    
    font-weight: 600 !important;

    transition: background-color .3s;
  }

h1 {
    font-weight: 300;
}

#notes {
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    height: calc(100% - 75px);
}


.note-modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

#note-form {
    background: #ffffff !important;
    height: auto;
    margin: 100px auto;
    max-width: 82%;
    overflow: hidden !important;
    width: 100%;
    -webkit-box-shadow: 0px 10px 25px -5px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 10px 25px -5px rgba(0,0,0,0.1);
    box-shadow: 0px 10px 25px -5px rgba(0,0,0,0.1);
    padding: 50px;
    border-radius: 10px;
}

nav {
    display: block;
    height: 75px;
    padding: 0 20px;
    -webkit-box-shadow: 0px 5px 10px -5px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 5px 10px -5px rgba(0,0,0,0.1);
    box-shadow: 0px 5px 10px -5px rgba(0,0,0,0.1);
}

#main-menu {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
    float: right;
}

#main-menu li {
    text-align: center;
    display: inline;
}

#main-menu a {
    padding: 10px 20px;
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; 
    display: flex;
    align-items: center;
    background: url('../assets/images/pexels-photo-911738.jpeg');
    background-size: cover;
}

fieldset {
    margin: 50px 0 !important;
}

#login_button {
    width: 100%;
    cursor: pointer;
    padding: 0 8px;
    background: #3897f0;
    border: 1px solid #3897f0;
    color: #fff;
    border-radius: 3px;
    font-weight: 600;
    font-size: 14px;
    height: 28px;
    line-height: 26px;
    outline: none;
    white-space: nowrap;
    transition: 0.5s ease background;
}

#login_button:hover {
    background:#1283ed;
}

.login_container {
    -webkit-box-shadow: 0px 8px 21px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 8px 21px 1px rgba(0,0,0,0.1);
    box-shadow: 0px 8px 21px 1px rgba(0,0,0,0.1);
    background-color: #fafafa;
    border-radius: 5px;
    padding: 25px;
    margin: 50px 0;
}
